<?xml version="1.0" encoding="utf-8"?>
<form>
    <fieldset name="basic" label="COM_SITEREPORT_SETTINGS">
        <field name="timeout" type="number" label="COM_SITEREPORT_TIMEOUT" default="10" min="1" />
        <field name="user_agent" type="text" label="COM_SITEREPORT_USER_AGENT" default="SitereportBot/1.0" />
        <field name="cache_minutes" type="number" label="COM_SITEREPORT_CACHE_MINUTES" default="60" min="0" />
    </fieldset>
</form>
